
//$import "ghbtn";
//$import "logo";

$cKey: #ffb400;
$cText: #333;
$cContrast: #fff;

html {
    background-color: $cKey;

    &.no-js, &.ie8 {
        background: url('../../background.png') $cKey repeat-y fixed;
    }
}

body {
    padding: 0;
    margin: 0;
    color: $cText;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

::selection {
    color: $cKey;
    background-color: $cText;
}

a {
    color: $cText;
    outline: none;
    border: none;
    text-decoration: none;
}


header, main, footer {
    display: block;
    max-width: 800px;
    padding: 0 5%;
    margin: 50px auto;
}



header {
    $dLogo: 4em;
    $dSocial: 2em;

    #logo {
        font-size: $dLogo;
        color: $cContrast;
    }

    #social {
        float: right;
        margin: $dLogo - $dSocial 0 0 0;
        list-style: none;
        padding: 0;

        li {
            display: inline;

            a {
                display: inline-block;
                margin-left: $dSocial/10;
                width: $dSocial;
                line-height: $dSocial;
                text-align: center;
                color: $cContrast;

                $cFacebook: #3c5a98;
                $cTwitter: #54a3db;
                $cGoogleplus: #de4b3b;

                &.facebook {
                    background: $cFacebook;

                    &:hover {
                        color: $cFacebook;
                    }
                }

                &.twitter {
                    background: $cTwitter;

                    &:hover {
                        color: $cTwitter;
                    }
                }

                &.googleplus {
                    background: $cGoogleplus;

                    &:hover {
                        color: $cGoogleplus;
                    }
                }

                -moz-transition: all .3s;
                -o-transition: all .3s;
                -webkit-transition: all .3s;
                transition: all .3s;

                &:hover {
                    background: $cContrast;
                    background: fade-out($cContrast, .5);
                }
            }
        }
    }

    h1 {
        clear: both;
        font-family: 'Source Serif Pro', Georgia, Times, serif;
        font-size: 1em;
        font-weight: 400;
        border-top: 2px solid $cContrast;
        color: $cContrast;
        margin: 0;
    }
}

footer {
    font-size: .8em;
    color: $cContrast;

    #star {
        position: relative;
        border-bottom: 2px solid $cContrast;
        margin-bottom: .2em;
    }

    #contribution {
        float: right;
    }

    a {
        color: inherit;
        text-decoration: underline;
        padding: 0 .2em;

        &:hover {
            color: $cText;
        }
    }
}

#zodiac {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

main {
    
    p.bigger {
        font-size: 1.5em;
    }

    section {
        position: relative;
        padding: 1em 0;
    }

    nav {
        display: inline-table;
        border-collapse: collapse;
        margin: 0;

        a {
            cursor: pointer;
            display: table-cell;
            border: 2px solid $cContrast;
            left: 0;
            font-weight: 700;
            font-size: 1em;
            height: 2em;
            width: 2em;
            line-height: 2em;
            text-align: center;
            margin: 0;
            padding: 0;
            -moz-transition: all .3s;
            -o-transition: all .3s;
            -webkit-transition: all .3s;
            transition: all .3s;

            &:hover, &:active, &.active {
                background-color: fade-out($cContrast, .5);
            }


        }


        &:first-of-type a {
            border-bottom: none;
        }

        &:last-of-type a {
            border-top: none;
        }
    }
}


table {
    font-family: 'Source Code Pro', Arial;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    table-layout: fixed;
    border-collapse: collapse;
}


th, td {
    text-align: center;
    vertical-align: text-bottom;
    position: relative;
    margin-right: 10px;
    padding: 2px;

    &:after {
        float: right;
        font-size: 10px;
        font-weight: 900;
        min-width: 38px;
        margin: 3px 2px 2px 2px;
        padding: 0 2px;
        border: solid 2px #aaa;
        color: #aaa;
    }
}


th {
    width: 120px;
    padding: 5px 2px;
    background-color: $cContrast;

    &:after {
        border-color: $cText;
        color: $cText;
    }

    & label {
        display: inline-block;
        cursor: pointer;
    }
}

td {
    background-color: fade-out($cContrast, .5);
    border-left: 5px solid transparent;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;

    &:first-child {
        border-left: none;
    }
}

tr:hover td {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    background-color: $cContrast;
}


input {
    position: fixed;
    visibility: hidden;
}


input[type=radio]#iD:checked ~ table th:nth-child(1):after {
    content: 'DAY';
}

input[type=radio]#iW:checked ~ table th:nth-child(1):after {
    content: 'WEEK';
}

input[type=radio]#iM:checked ~ table th:nth-child(1):after {
    content: 'MONTH';
}

input[type=radio]#iD:checked ~ table th:nth-child(3):after,
input[type=radio]#iW:checked ~ table th:nth-child(4):after,
input[type=radio]#iM:checked ~ table th:nth-child(5):after {
    content: 'DELTA';
}

input[type=radio]#iD:checked ~ table td[data-pd]:after {
    content: attr(data-pd);
}

input[type=radio]#iW:checked ~ table td[data-pw]:after {
    content: attr(data-pw);
}

input[type=radio]#iM:checked ~ table td[data-pm]:after {
    content: attr(data-pm);
}

input[type=radio]#iD:checked ~ table td[data-sd]:after {
    content: attr(data-sd);
}

input[type=radio]#iW:checked ~ table td[data-sw]:after {
    content: attr(data-sw);
}

input[type=radio]#iM:checked ~ table td[data-sm]:after {
    content: attr(data-sm);
}

input[type=radio]#iD:checked ~ table td[data-md]:after {
    content: attr(data-md);
}

input[type=radio]#iW:checked ~ table td[data-mw]:after {
    content: attr(data-mw);
}

input[type=radio]#iM:checked ~ table td[data-mm]:after {
    content: attr(data-mm);
}

input[type=radio]#iD:checked ~ table td[data-pd]:after,
input[type=radio]#iW:checked ~ table td[data-pw]:after,
input[type=radio]#iM:checked ~ table td[data-pm]:after {
    border-color: #0b2 #0b2 transparent transparent;
    color: #0b2;
}

input[type=radio]#iD:checked ~ table td[data-md]:after,
input[type=radio]#iW:checked ~ table td[data-mw]:after,
input[type=radio]#iM:checked ~ table td[data-mm]:after {
    border-color: transparent transparent #b20 #b20;
    color: #b20;
}

input[type=radio]#iD:checked ~ table td[data-sd]:after,
input[type=radio]#iW:checked ~ table td[data-sw]:after,
input[type=radio]#iM:checked ~ table td[data-sm]:after {
    border-color: #888;
    color: #888;
}

th:nth-child(2) {
    width: auto;
}

td:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-weight: 700;
}

@media (max-width: 50em) {

    table {
        font-size: 12px;

        th {
            width: 82px;
        }
    }
}

@media (max-width: 32em) {

    table th {
        width: 40px;
    }

    td {
        border-left:none;
        border-bottom:1px solid $cContrast;
    }

    th:after,
    td:after {
        float: none;
        display: block;
        margin: auto;
        padding:0;
    }
}
