<!doctype html>
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
  {% include head.html %}
<body>
   <header>
      <a id="logo" class="icon" title="JS.ORG | daily statistics on JavaScript projects" href="http://js.org">&#xe000; &#xe001;</a>
      <ul id="social" class="icon">
         <li><a class="facebook" title="Facebook" rel="nofollow" target="_blank" href="https://www.facebook.com/pages/JSORG/599873160157196">&#xe100;</a></li>
         <li><a class="twitter" title="Twitter" rel="nofollow" target="_blank" href="https://twitter.com/JS_ORG">&#xe110;</a></li>
         <li><a class="googleplus" title="Google+" rel="nofollow" target="_blank" href="https://plus.google.com/+JsOrg0">&#xe120;</a></li>
      </ul>
      <h1 class="serif">Providing daily statistics on JavaScript projects since 2015</h1>
   </header>

   <main>

      <p class="bigger">The table shows statistics and a ranking of the 10k most important JavaScript projects on Github. The normalized values are calculated by the given number of watchers/stars and forks of a project.</strong></p>
      <p>Important: This page is under construction. Take the provided values with a grain of salt. The algorithms and the weighting of factors may change soon and give very different results. Updates may come on an irregular basis.</p>

      {{ content }}
   </main>


   <footer>
      <div id="star">
         <p class="ghbtn" data-user="js-org" data-repo="dns" data-type="watch" data-count="1"></p>
      </div>
      <a href="http://dns.js.org/disclaimer.html" title="Disclaimer">Disclaimer</a>
      <a href="http://dns.js.org/legals.html" title="Impressum/Legals">Impressum/Legals</a>
      <span id="contribution">webdesign: <a title="Werbeagentur Ansbach Webdesign" target="_blank" href="http://www.derkeim.com">Der Keim</a></span>
   </footer>

   <script>
      (function (i, s, o, g, r, a, m) {
         i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
         }, i[r].l = 1 * new Date(); a = s.createElement(o),
         m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-59246932-1', 'auto');
      ga('set', 'anonymizeIp', true);
      ga('send', 'pageview');
   </script>
</body>
</html>
